<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"
      rel="stylesheet"
    />
    
    <style>
      ul{
        list-style: none;
      }
      .page{
        width: 100%;
        padding: 20px;
        border-top: 1px solid #000;
      }
      .page ul li{
        font-size: 12px;
      }

      label {
        font-weight: normal;
      }
      .panel-body .glyphicon-remove{
        display: none;
      }
      .panel-body:hover .glyphicon-remove{
        display: inline-block
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <div class="row text-right">
            <div class="col-xs-12">
              <form method="post" action="/logout">
                <button class="btn btn-danger" style="margin-top: 10px;">登出</button>
              </form>
            </div>
          </div>
          <div class="row text-right">
            <div class="col-xs-12">
              <a href="/account/create" class="btn btn-primary" style="margin-top: 10px;">新增帳單</a>
            </div>
          </div>
          <h2>記帳本</h2>
          <hr />
          <div class="accounts">
            <% accounts.forEach(item => { %>
            <div class="panel <%= item.type===-1 ? 'panel-danger' : 'panel-success'  %>">
              <div class="panel-heading"><%= item.time %></div>
              <div class="panel-body">
                <div class="col-xs-6"><%= item.title %></div>
                <div class="col-xs-2 text-center">
                  <span class="label <%= item.type===-1 ? 'label-warning' : 'label-success'  %>"><%= item.type==='-1' ? '支出' : '收入'  %></span>
                </div>
                <div class="col-xs-2 text-right"><%= item.account %> 元</div>
                <div class="col-xs-2 text-right">
                  <a href="/account/<%= item.id %>">
                  <span
                    class="glyphicon glyphicon-remove delBtn"
                    aria-hidden="true"
                  ></span>
                </a>
                </div>
              </div>
            </div>
            <% }) %>
            
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <ul class="pagination">
        <% var prevNum=10; var nextNum=10; %>
        <li class="disabled"><a href="javascript:;">共 <%= pager.maxNum %> 條</a></li>
        <li class="disabled"><a href="javascript:;">總 <%= pager.pagerCount %> 頁</a></li>
        <li class="disabled"><a href="javascript:;">首頁</a></li>
        <li class="disabled"><a href="javascript:;">上一頁</a></li>
        
        <% for(var i=prevNum; i>0; i-- ){%>
          <% if(parseInt(pager.pageCurrent)-i > 0) {%>
        <li><a href="/account?page=<%= pager.pageCurrent-i %>"><%= pager.pageCurrent-i %></a></li>
        <% }} %>
        
        <li class="active"><a href="/account?page=<%= pager.pageCurrent %>"><%= pager.pageCurrent %></a></li>
       

        <% for(vari=1; i<=nextNum; i++){ %>
          <% if(parseInt(pager.pageCurrent)+i < pager.pagerCount ){%>
        <li><a href="/account?page=<%= parseInt(pager.pageCurrent)+i+1 %>"><%= parseInt(pager.pageCurrent)+i+1 %></a></li>
        <% } %>


        <% } %>
        <li class="disabled"><a href="javascript:;">下一頁</a></li>
        <li class="disabled"><a href="javascript:;">最後尾頁</a></li>
      </ul>
    </div>

  </body>
  <script>
    //获取所有的 delBtn
    let delBtns = document.querySelectorAll('.delBtn');
  
    //绑定事件
    delBtns.forEach(item => {
      item.addEventListener('click', function (e) {
        if (confirm('你確定要刪除嗎?')) {
          return true;
        } else {
          //阻止默认行为
          e.preventDefault();
        }
      });
    })
  </script>
</html>
